<section class="mx-5">
  <h1 class="text-2xl font-bold">Pipes Numéricos</h1>
  <h3 class="text-xl font-thin">Pipes incluidos en Angular</h3>
</section>

<div class="stats stats-vertical lg:stats-horizontal shadow w-full">
  <div class="stat">
    <div class="stat-title">Number : number:'1.2-2'</div>
    <div class="stat-value">{{ totalSales() | number: '1.2-2' }}</div>
    <div class="stat-desc">{{ totalSales() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title">Number : number:'1.2-2'</div>
    <div class="stat-value">{{ totalSales() + 1234 | number: '1.2-2' }}</div>
    <div class="stat-desc">{{ totalSales() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title">Currecy</div>
    <div class="stat-value">{{ totalSales() | currency: 'CAD' : 'symbol-narrow' : '1.4-4' }}</div>
    <div class="stat-desc">{{ totalSales() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title">Percent</div>
    <div class="stat-value">{{ percentage() | percent: '1.2-2' }}</div>
    <div class="stat-desc">{{ percentage() }}</div>
  </div>
</div>
